<html layout:decorate="~{/layout.html}">

<body>


<main layout:fragment="main">
    <script>
        function filterByTarget(targetId) {
            location.href = '/exercise/list?target=' + targetId;
        }
    </script>
    <h1>운동 목록</h1>
    <div>
        <a th:href="|/exercise/list?selectedDate=${selectedDate}&target=0|">모두</a>
        <a th:href="|/exercise/list?selectedDate=${selectedDate}&target=1|">가슴</a>
        <a th:href="|/exercise/list?selectedDate=${selectedDate}&target=2|">등</a>
        <a th:href="|/exercise/list?selectedDate=${selectedDate}&target=3|">어깨</a>
        <a th:href="|/exercise/list?selectedDate=${selectedDate}&target=4|">팔</a>
        <a th:href="|/exercise/list?selectedDate=${selectedDate}&target=5|">하체</a>
    </div>
    <form th:action="@{/exercise/record/add}" method="POST">
        <div>
            <div>
                <input type="hidden" name="date" th:value="${selectedDate}">
            </div>
            <table>
                <thead>
                <tr>
                    <th>선택</th>
                    <th>운동 이름</th>
                    <th>대상</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="exercise : ${exercises}">
                    <td><input type="checkbox" name="exNames" th:value="${exercise.exName}"></td>
                    <td th:text="${exercise.exName}">운동 이름</td>
                    <td th:text="${exercise.target.getTargetName()}">타겟 이름</td>
                </tr>
                </tbody>
            </table>
            <button type="submit">기록 생성</button>
        </div>
    </form>
</main>

</body>

</html>