<html layout:decorate="~{/layout.html}">

<head>
    <style>
        .calendar {
            display: flex;
            justify-content: center;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // 클릭 가능한 record에 대한 클릭 이벤트 추가
            document.querySelectorAll('.clickable-record').forEach(function(row) {
                row.addEventListener('click', function() {
                    var href = this.getAttribute('data-href');
                    if(href) {
                        window.location.href = href;
                    }
                });
            });

            // 삭제 버튼 클릭 시 이벤트 전파 방지
            document.querySelectorAll('.clickable-record .fa-trash').forEach(function(deleteIcon) {
                deleteIcon.closest('a').addEventListener('click', function(event) {
                    event.stopPropagation(); // 클릭 이벤트가 상위로 전파되지 않도록 방지
                });
            });
        });
    </script>
</head>
<body>

<main layout:fragment="main">
    <div>
        <div class="calendar">
            <a th:href="@{/exercise/record(selectedDate=${prevDate})}"><i class="fa-solid fa-caret-left"
                                                                          style="color: #888; font-size: 30px"></i></a>
            <h4 th:text="${selectedDate}"></h4>
            <a th:href="@{/exercise/record(selectedDate=${nextDate})}"><i class="fa-solid fa-caret-right"
                                                                          style="color: #888; font-size: 30px"></i></a>
        </div>
        <table class="table-section">
            <tbody>
            <tr th:each="record : ${records}" class="clickable-record" th:data-href="@{/exercise/set(recordId=${record.getRecordId()})}">
                <td>
                    <label>
                        <span th:text="${record.getExercise().getExName()}">운동 이름</span>

                        <span th:text="${record.getTarget().getTargetName()}">부위</span>
                        <span>
                            <a th:href="@{/exercise/record/delete(recordId=${record.getRecordId()}, selectedDate=${selectedDate})}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </span>
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="submit-section">
            <a th:href="@{/exercise/list(selectedDate=${selectedDate})}">
                <i class="fa-regular fa-square-plus" style="color: #888; font-size: 50px"></i>
            </a>
        </div>
    </div>
</main>
</body>

</html>