<html layout:decorate="~{/layout.html}">

<body>
<main layout:fragment="main">
    <script>
        function JoinForm__submit(form) {

            form.memberId.value = form.memberId.value.trim();

            if (form.memberId.value.length === 0) {
                form.memberId.focus();
                alert("아이디를 입력해주세요.");
                return;
            }

            if (form.memberId.value.length < 4) {
                form.memberId.focus();
                alert("아이디를 4글자 이상 입력해주세요.");
                return;
            }

            form.memberName.value = form.memberName.value.trim();

            if (form.memberName.value.length === 0) {
                form.memberName.focus();
                alert("닉네임을 입력해주세요.");
                return;
            }

            if (form.memberName.value.length < 2) {
                form.memberName.focus();
                alert("닉네임을 2글자 이상 입력해주세요.");
                return;
            }

            form.password.value = form.password.value.trim();

            if (form.password.value.length === 0) {
                form.password.focus();
                alert("비밀번호를 입력해주세요.");
                return;
            }

            if (form.password.value.length < 6) {
                form.password.focus();
                alert("비밀번호를 6자 이상 입력해주세요.");
                return;
            }

            if (form.gender.value.length === 0) {
                alert("성별을 선택해주세요")
                return;
            }

            if (form.height.value.length === 0 || form.weight.value.length === 0) {
                alert("키와 몸무게를 입력해 주세요")
                return;
            }

            form.submit();
        }

        document.addEventListener("DOMContentLoaded", function () {
            var today = new Date().toISOString().split('T')[0];
            document.getElementById("birthDate").setAttribute("max", today);
        });
    </script>

    <form th:action method="POST" class="p-10 flex flex-col gap-4" onsubmit="JoinForm__submit(this); return false;">
        <div>
            <input type="text" class="form-control" name="memberId" placeholder="아이디">
        </div>
        <div>
            <input type="text" class="form-control" name="memberName" placeholder="닉네임">
        </div>
        <div>
            <input type="password" class="form-control" name="password" placeholder="비밀번호">
        </div>
        <div>
            <input type="radio" id="genderMale" name="gender" value="false">
            <label for="genderMale">남성</label>
            <input type="radio" id="genderFemale" name="gender" value="true">
            <label for="genderFemale">여성</label>
        </div>
        <div>
            <label for="birthDate">생년월일</label>
            <input type="date" class="form-control" id="birthDate" name="birthDate" required max="<%=java.time.LocalDate.now()%>">
        </div>
        <div>
            <label for="height">키(cm)</label>
            <input type="number" class="form-control" id="height" name="height" placeholder="키 입력" min="1">
        </div>

        <div>
            <label for="weight">몸무게(kg)</label>
            <input type="number" class="form-control" id="weight" name="weight" placeholder="몸무게 입력" min="1">
        </div>
        <div class="d-flex justify-content-center mt-3">
            <input type="submit" value="회원가입" class="btn btn-primary">
        </div>
    </form>
</main>
</body>

</html>