<html layout:decorate="~{/layout.html}">

<head>
    <title>로그인</title>
</head>

<body>

<main layout:fragment="main">
    <script>
        function LoginForm__submit(form) {

            form.memberId.value = form.memberId.value.trim();

            if (form.memberId.value.length === 0) {
                form.memberId.focus();
                return;
            }

            if (form.memberId.value.length < 4) {
                form.memberId.focus();
                return;
            }

            form.password.value = form.password.value.trim();

            if (form.password.value.length === 0) {
                form.password.focus();
                return;
            }

            if (form.password.value.length < 6) {
                form.password.focus();
                return;
            }

            form.submit();
        }
    </script>

    <form th:action method="POST" class="p-10 flex flex-col gap-4" onsubmit="LoginForm__submit(this); return false;">
        <div>
            <input type="text" name="memberId" maxlength="10" placeholder="아이디" class="input input-bordered">
        </div>
        <div>
            <input type="password" name="password" maxlength="25" placeholder="비밀번호" class="input input-bordered">
        </div>
        <div>
            <input type="submit" value="로그인" class="btn btn-primary">
        </div>
    </form>
</main>
</body>

</html>