<div th:fragment="statusFragment" class="status row justify-content-center">
    <head>
        <style>
            .low-frequency {
                color: orange;
            }
            .medium-frequency {
                color: green;
            }
            .high-frequency {
                color: red;
            }
        </style>
    </head>
    <h4>Status</h4>
    <table>
        <thead>
        <tr>
            <th>Target Name</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <!-- targets 리스트를 반복하여 각 행을 생성 -->
        <tr th:each="targetCount : ${targets}">
            <!-- Object[]에서 Target 객체와 Count를 추출하여 표시 -->
            <td th:text="${targetCount[0].targetName}">Target Name</td> <!-- targetCount[0]는 Target 객체를 나타냄. 여기서는 Target 객체의 name 속성을 사용 -->
            <!-- Count에 따라 td의 클래스를 변경 -->
            <td th:text="${targetCount[1]}"
                th:class="${targetCount[1] == 1 ? 'low-frequency' :
                           targetCount[1] == 2 ? 'medium-frequency' : 'high-frequency'}">Count</td>
        </tr>
        </tbody>
    </table>
</div>